<a href="https://colab.research.google.com/github/GurvaTaulus/HelloDeepLearning/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [116]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ximen0725/raw/main/titanic/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ximen0725/raw/main/titanic/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x7e1b54c04310>)

In [117]:
import pandas as pd
datas = pd.read_csv("train.csv", encoding="utf-8")
datas_predict = pd.read_csv("test.csv", encoding="utf-8")
datas_total = pd.concat([datas,datas_predict],axis=0)
datas_total = datas_total.drop(["Survived","PassengerId"],axis=1)
datas_total

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [118]:
# demo: pandas.concat
# d1 = pd.DataFrame([
#     [1,2],
#     [3,4]
# ])
# d2 = pd.DataFrame([
#     [5,6],
#     [7,8]
# ])
# pd.concat([d1, d2],axis=0)

In [119]:
# demo:
# import random
# if random.randint(0,1) == 0:
#   b = int
# else:
#   b = round
# b(4.6)

In [120]:
# 轉換: Series(1D), apply(函式型態)
# Demo: apply
# s = pd.Series([1, 2, 3, 4])
# def func(n):
#   return n**2
# s.apply(func)
def name(n):
  # n = "Braund, Mr. Owen Harris"
  return n.split(",")[1].split(".")[0].strip()
datas_total["Name"] = datas_total["Name"].apply(name)

In [121]:
# value_counts()
counts = datas_total["Ticket"].value_counts()
def ticket(t):
  return counts[t]
datas_total["Ticket"] = datas_total["Ticket"].apply(ticket)

In [122]:
def cabin(c):
  if pd.isna(c):
    return c
  else:
    return c[0]
datas_total["Cabin"] = datas_total["Cabin"].apply(cabin)

中場休息  
  類別型態: Pclass, Name, Sex, Cabin, Embarked  
  數值類型: Age, SibSp, Parch, Ticket, Fare  
遇到NaN值時  
  類別型態: 補最常出現值  
  數值類型: 補中位數

In [123]:
s = datas_total.isna().sum()
fil = s > 0
s[fil].sort_values(ascending=False)

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [124]:
# demo: 篩選操作 Series/DataFrame[帶入跟資料筆數一樣多的T/F]
# d = pd.DataFrame([
#     [1,2],
#     [3,4],
#     [5,6]
# ])
# d[[True,False,True]]

In [125]:
most = datas_total["Embarked"].value_counts().idxmax()
datas_total["Embarked"] = datas_total["Embarked"].fillna(most)

In [126]:
med = datas_total.median(numeric_only=True).drop("Pclass")
datas_total = datas_total.fillna(med)

In [128]:
c = datas_total["Name"].value_counts()
reserved = c[c > 50].index
def name2(n):
  if n in reserved:
    return n
  else:
    return None
datas_total["Name"] = datas_total["Name"].apply(name2)

In [ ]:
datas_total = pd.get_dummies(datas_total)
datas_total = pd.get_dummies(datas_total, columns=["Pclass"])

In [131]:
datas_total

,Age,SibSp,Parch,Ticket,Fare,Name_Master,Name_Miss,Name_Mr,Name_Mrs,Sex_female,...,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
0,22.0,1,0,1,7.2500,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
1,38.0,1,0,2,71.2833,0,0,0,1,1,...,0,0,0,0,1,0,0,1,0,0
2,26.0,0,0,1,7.9250,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,1
3,35.0,1,0,2,53.1000,0,0,0,1,1,...,0,0,0,0,0,0,1,1,0,0
4,35.0,0,0,1,8.0500,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,28.0,0,0,1,8.0500,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
414,39.0,0,0,3,108.9000,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
415,38.5,0,0,1,7.2500,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
416,28.0,0,0,1,8.0500,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
417,28.0,1,1,3,22.3583,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

<!--  -->
可不做one-hot encodeing
1. 有大小關係的類別
2. 二值型類別